<main
  class="font-oxanium flex justify-center items-center w-screen h-screen bg-white overflow-hidden p-1"
>
  <div
    class="h-full w-4/12 flex justify-end border-2 p-0 border-black bg-pokedex-shadow rounded-l-3xl overflow-hidden"
  >
    <div
      class="h-full w-97 flex flex-col border-2 border-black rounded-l-3xl bg-pokedex-color"
    >
      <!-- Luzes -->
      <div class="p-3 h-25/100 w-full flex flex-row gap-2 items-start">
        <!-- Luz Maior -->
        <div
          class="h-32 w-32 rounded-full flex relative items-center justify-center border-2 border-black bg-white"
        >
          <div
            class="h-26 w-26 rounded-full absolute top-1 right-2 border-2 border-black bg-blue-light-1"
          >
            <div class="h-16 w-16 rounded-full absolute left-4 bg-blue-light-2">
              <div
                class="h-10 w-10 rounded-full absolute left-2 bg-blue-light-3"
              ></div>
            </div>
          </div>
        </div>

        <!-- Luzes menores -->
        <div
          class="h-10 w-10 rounded-full relative left-2 border border-black bg-red-light-1"
        >
          <div
            class="h-5 w-5 rounded-full absolute left-1 bg-red-light-2"
          ></div>
        </div>

        <div
          class="h-10 w-10 rounded-full relative left-2 border border-black bg-yellow-light-1"
        >
          <div
            class="h-5 w-5 rounded-full absolute left-1 bg-yellow-light-2"
          ></div>
        </div>

        <div
          class="h-10 w-10 relative rounded-full left-2 border border-black bg-green-light-1"
        >
          <div
            class="h-5 w-5 rounded-full absolute left-1 bg-yellow-light-2"
          ></div>
        </div>
      </div>

      <div class="p-3 w-full h-75/100 flex flex-col items-center justify-start gap-6">
        <!-- Visor -->
        <div
          class="h-60/100 w-80/100 bg-screen-color rounded-xl flex flex-col items-center"
        >
          <!-- Luzes -->
          <div class="w-full flex flex-row justify-center p-3 gap-8">
            <div
              class="rounded-full border border-black bg-pokedex-color h-3 w-3"
            ></div>
            <div
              class="rounded-full border border-black bg-pokedex-color h-3 w-3"
            ></div>
          </div>
          <div class="w-90/100 h-80/100 rounded-xl bg-black"></div>
        </div>

        <!-- Input -->
        <input
          class="h-20 w-80/100 bg-screen-color border border-black rounded-xl flex flex-col items-center"
        />

        <div class="w-full h-20/100 flex flex-row justify-around gap-7 p-7">
            <button class="text-white rounded-xl grow shadow-button-shadow border-2 border-black bg-button-color">Anterior <</button>
            <button class="text-white rounded-xl grow shadow-button-shadow border-2 border-black bg-button-color">> Próximo</button>
        </div>
      </div>
    </div>
  </div>
</main>
